@{
	ViewBag.Title = "DSH";
	ViewBag.Description = "Department of State Hospitals";
	ViewBag.SDC = "home";

	/*Possible values for SDC 
	  1.home 
	  2.two_column
	 
	 */
 } 
<div class="span3">
		
	  <div class="well">
		<ul class="nav nav-list">
		  <li class="nav-header">List header</li>
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li><a href="#">Applications</a></li>
		  <li class="nav-header">Another list header</li>
		  <li><a href="#">Profile</a></li>
		  <li><a href="#">Settings</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Help</a></li>
		</ul>
	  </div>
	</div>


<div class="span9">
		 
		  <div class="row-fluid">
			<div class="span12">

			  <h2>Heading</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn" href="#">View details »</a></p>
			</div><!--/span-->
		
		  </div><!--/row-->
	
		</div>



@section scripts{
		  @Scripts.Render("~/bundles/jsapplibs")
}
