<div>

    <a href="#skip_to_content">Back to Top</a> <a href="#">Conditions of Use</a>
    <a href="#">Privacy Policy</a> <a href="#">Accessibility</a> 
    <a href="#">Contact Us</a>

</div>


<div>
    Copyright &copy; 2013 Department of State of Hospitals
</div>

