<nav id="navigation">
		<ul id="nav_list" class="">
			<li><a href="/Education/index.html" class="nav_level1_link">Education</a>
				<div class="nav_panel">
					<ul>
						<li><a href="#" class="nav_p_heading">Parents</a> 
						<div class="nav_p_description">School registration, immunizations, school safety</div></li>
					</ul>
					
				</div>
			</li>
			<li><a href="#" class="nav_level1_link">Work</a>
				<div class="nav_panel">
					<ul>
						<li><a href="http://business.ca.gov" class="nav_p_heading">Business</a> 
						<div class="nav_p_description">Running a business, Small businesses</div></li>
					</ul>
				</div>
			</li>

		
		</ul>
	</nav>
