<nav id="navigation">
		<ul id="nav_list" class="">
			<li><a href="/" class="nav_level1_link"><span id="nav_home_container"></span><img src="/images/template2012/clear.gif" alt="Home">&nbsp;</a>
			</li>
			<li><a href="/Education/index.html" class="nav_level1_link">Education</a>
				<div class="nav_panel    ">
					<ul>
						<li><a href="/Education/Parents/index.html" class="nav_p_heading">Parents</a> 
						<div class="nav_p_description">School registration, immunizations, school safety</div></li>
					
						
					</ul>
					<ul>
						<li><a href="/Education/K-12.html" class="nav_p_heading">K-12</a> 
						<div class="nav_p_description">School districts, data, specialized programs, testing</div></li>
						
					</ul>
					<ul>  
						<li><a href="/Education/Libraries.html" class="nav_p_heading">Libraries</a> 
						<div class="nav_p_description">Libraries, archives, museums, catalogs, services</div></li>
					</ul>
					<div class="nav_d_arrow_container" style="left: 216px;"></div>
				</div>
			</li>
			<li><a href="/Work/index.html" class="nav_level1_link">Work</a>
				<div class="nav_panel      ">
					<ul>
						<li><a href="http://business.ca.gov" class="nav_p_heading">Business</a> 
						<div class="nav_p_description">Running a business, Small businesses</div></li>
						
					</ul>
					<ul>
						<li><a href="/Work/LawsAndRegs.html" class="nav_p_heading">Laws &amp; Regulations</a> 
						<div class="nav_p_description">Frequently asked questions, labor code</div></li>
						
						
					</ul>
					<ul>
						<li><a href="/Work/WorkplaceIssues.html" class="nav_p_heading">In the Workplace</a> 
						<div class="nav_p_description">Worker rights, labor laws, discrimination, safety</div></li>
					
					</ul>
					<div class="nav_d_arrow_container" style="left: 372px;"></div>
				</div>
			</li>

		
		</ul>
	</nav>

<!--Form Search--> 

<div id="head_search" class="">
		<form id="local_form" action="/Apps/SearchNew.aspx"> <!-- the form action will be changed using javascript -->
			<div class="textfield_container">
				<label for="search_local_textfield" accesskey="s" class="hidden">Search this site: </label>
				<input type="text" name="search" id="search_local_textfield" size="40" autocomplete="off" value="Search services, forms and information in your area." onfocus="if(this.value=='Search services, forms and information in your area.')this.value=''" onblur="if(this.value=='')this.value='Search services, forms and information in your area.'">

				<input type="hidden" name="cx" value="001779225245372747843:mdsmtl_vi1a"> <!-- update this value with your search engine unique ID. Submit a request to the OTech Service Desk if you don't already know your unique search engine ID. -->
				<input type="hidden" name="cof" value=""> <!-- this value will be set using javascript -->
				<input type="hidden" name="ie" value="UTF-8">

			</div>
			<div class="submit_container clearfix">
				<input type="image" alt="Search" title="Search" name="submit" src="/images/template2012/clear.gif">
			</div>
		</form>
	</div>