/*
1280 and greater

Set a max-width for the page.
Add a body background gradient.
*/

.test_width span.mq1280 {
	background:#0f0;
}

header, #main_content, footer {
	max-width:1266px; /* 1280 - 7 - 7 */
	margin:0 auto;
}

#background_decorative {
	display:block;
	position:absolute;
	top:141px;
	padding:13px 0;
	font-size: 1.21em;
	font-weight:bold;
	width:100%;
	z-index:-1;
}

.home #background_decorative {
	top:106px;
}
