/*
600 and greater

Navigation changes from vertical list to horizontal
*/

.test_width span.mq600 {
	background:#0f0;
}

header {
	min-height:188px;
}
.home header {
	min-height:390px;
}

.logo_and_banner {
	margin:0;
}
.home .logo_and_banner {
}

.head_cagov_logo { /* 94 x 74 */
	display:block;
	position:absolute;
	top:16px;
	left:28px;
}

.head_organization_banner { /* 269 x 39 */
	max-width:269px;
	margin:0 auto;
	top:32px;
}



#head_search {
	position:absolute;
	top:10px;
	width:30%;
	right:10px;
	margin:0 2px 2px 2px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.home #head_search {
	top:200px;
	right:auto;
	width:66%; /* 70 - 0 - 4 */
	margin-left:15%;
}

#navigation {
	position:absolute;
	top:141px;
	width:100%;
}
.home #navigation {
	top:106px;
}
#navigation li {
	margin:0;
	background-color:transparent;
}

.ie7 #navigation li {
	float: left;
	width:16.6%; /* fix IE7 issue where nav intermittently wraps -- 100 / # of nav items */
}
.ie7 #navigation li li {
	width:100%; /* fix IE7 */
}

/*
Navigation - Mega Drop-Down
*/

/* Nav panel */

.nav_panel {
	position:absolute;
	width:90%;
	min-height:199px;
	left:0px;
	background:transparent url(../cagov/images/template2012/orangecounty/megadropdown_ribbon.png) no-repeat 70.3125% 100%;
	background: url(../cagov/images/template2012/nav_shadow.png) repeat-x 0 0, url(../cagov/images/template2012/orangecounty/megadropdown_ribbon.png) no-repeat 70.3125% 100%; 
	padding:16px 5% 51px 5%;
	overflow:visible;
}
.nav_panel a {
	color:#000;
}
.nav_panel a:hover {
	color:#3d3d3d;
}

.nav_panel ul {
	width:50%;
	float:left;
}
#navigation .nav_panel li {
	float:none;
	background-color:transparent;
	padding:0 10px 20px 0px;
}

.no-js #navigation li:hover .nav_panel, .ie7 #navigation li:hover .nav_panel {
	display:block;
	opacity:1;
	z-index:2;
}
#navigation li .nav_panel {
	opacity:0.01;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;	
	transition: opacity .3s ease-in-out;
}
.oldie #navigation li .nav_panel {
	opacity:1; /* IE 9 and older does not support opacity transition */
}
#navigation #nav_list li .mo_opacity {
	opacity:1;
	z-index:2;
}
#navigation #nav_list li .mo_display {
	display:block;
}


.nav_p_heading {
	color:#003366;
	font-size:14px;
	font-weight:bold;
}
.nav_p_description {
	font-size:11px;
	padding-top:4px;
}

.nav_d_arrow_container {
	background:transparent url(../cagov/images/template2012/nav_down_arrow.png) no-repeat;
	width:44px;
	height:16px;
	position:absolute;
	top:0px;
	margin-left:-22px;
	left:50%;
}

.ie7 .nav_d_arrow_container, .ie8 .nav_d_arrow_container {
	display:none; /* Arrows won't be positioned correctly, so don't bother showing them */
}

.nav_panel ul {
	width:33%;
}


.home #img_ribbon {
	position:absolute;
	top:324px;
}


/* phone nav update */

#navigation {
	height:auto;
	overflow:visible;
	-webkit-transition: height 0s; /* Safari and Chrome */
	background-color: rgba(0, 0, 0, 0.5);/*This is a css3 feature works ie9++*/
}
#nav_list {
	position:static;
	bottom:0;

	width:100%;
	display:table;
}
#nav_list li {
	display:table-cell;
	list-style:none;
}
#nav_list li li {
	display:list-item;
}

header #navigation.phone_show_nav {
	height:auto;
}
#mobile_container {
	display:none;
}

/* more phone nav changes */

.phone_hdr, .rgba .phone_hdr, .ie7 .phone_hdr {
	background-color: transparent;
}
.phone_hdr {
	margin-bottom:0; /* fix IE9 issue where gap appears below header */
}

.phone_hd_left, .phone_hd_right {
	display:none;
}

#head_search {
	display:block;
}

.home #img_ribbon {
	width:100%;
	height:95px;
	 background:transparent url(../cagov/images/template2012/orangecounty/ribbon_home.png) no-repeat 70.3125% 0%; 
}
.home #main_content {
	padding-top:38px; /* reserve space for ribbon */
}
.home #main_content {
	background:#fff url(../cagov/images/template2012/orangecounty/footer_bg.png) no-repeat 70.3125% 100%; 
	padding-bottom:65px;
}
.home .content_left_column {
	background:transparent;
}

.content_left_column .add_padding {
	padding:0 5% 0 8%;
}

.contact_box p {
	width: 23%;
	padding:0 5% 0 5%;
}
.contact_box .contact_us {
	display:block;
}

footer {
	line-height:normal;
}
.home footer {
	padding-top:0;
	box-shadow:none;
}

.hide_from_phones {
	display:block;
}
span.hide_from_phones {
	display:inline;
}

.head_organization_banner { /* 269 x 39 */
	display:block;
}

/* end phone nav update */

