
html, body {
	height: 100%;
}
.main_content {
	min-height: 100%;
	margin-top:100px;
	min-width:320px;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */

}
footer, .push {
	height: 143px; /* .push must be the same height as .footer */
}


/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/